{% extends "content-page.html" %}
{% block title %}Recent Games{% endblock %}

{% block content %}
  <div class="row title">
    Recent Games
  </div>

  {% for game in games %}
  <div id="{{ game.id }}" class="row recent-game">
    <div class="score">
      {{game.red_score}} : {{ game.blue_score }}
    </div>
    {% if game.red_score > game.blue_score %}
    <div class="statement red">
      To Red
    </div>
    {% else %}
    <div class="statement blue">
      To Blue
    </div>
    {% endif %}
    <div class="timeago" title="{{ game.timestamp }}">
    </div>
  </div>
  {%endfor%}
{% endblock %}

{% block scripts %}
  <script>   
    $('.recent-game').click( function () {
      var new_page = '/view_game/' + $(this).attr('id');
      window.location.href = new_page;
    });
    
    $('.timeago').timeago();
  </script>
{% endblock %}
