{% extends "content-page.html" %}

{% block content %}
  <ol class="leaderboard">
    {% for player in playerlist %}
    
    {% if loop.index != 1 %}
    <div class="difference">
    </div>
    {% endif %}

    <li id={{ player.id }}
        data-score={{ player.score }}
        data-winp={{ player.winp }}
        class="leaderboard-row">
        <div class="name">#{{loop.index}} {{player.nickname}}</div>
    </li>
    {%endfor%}
  </ol>
{% endblock %}

{% block scripts %}
  <script>
    $('.leaderboard-row').click( function() {
      window.location.href = '/view_player/' + this.id;
    });

    var first = $('li').first().data('score');

    $(".difference").each( function () {
      var score = $(this).next().data('score');
      var diff  = -Math.round(first - score);
      $(this).text(diff)
    })
  </script>
{% endblock %}
