{% extends "content-page.html" %}

{% block content %}
  <ol class="leaderboard">
    {% for player in playerlist %}
    <li id={{ player.id }}
        data-score={{ player.score }}
        data-winp={{ player.winp }}
        class="leaderboard-row">
        #{{loop.index}} {{player.nickname}}
    </li>
    {%endfor%}
  </ol>
{% endblock %}

{% block scripts %}
  <script>
    $('.leaderboard-row').click( function() {
      window.location.href = '/view_player/' + this.id;
    });
  </script>
{% endblock %}
