<html>
  <head>
    {% block head %} 
    <link rel="stylesheet" href="/stat-tracker/static/css/bootstrap.css">
    <link rel="stylesheet" href="/stat-tracker/static/css/stat_tracker.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <title>{% block title %}Foosball Stat Tracker{% endblock %}</title>
    {% endblock %}
  </head>
  
  <body>
    <div class="container">

      <div class="row">
        <div class="col-md-4 col-md-offset-4">

          <div class="row back-btn">
            <div class="left-back-btn">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </div>
            <div class="right-back-btn">
              <span class="glyphicon glyphicon-home"></span>
            </div>
          </div>
          
          {% block content %}{% endblock %}

        </div>
      </div>

    </div>
  </body>
  
  <script src="/stat-tracker/static/js/jquery-2.1.1.min.js"></script>
  <script src="/stat-tracker/static/js/bootstrap.js"></script>
  <script src="/stat-tracker/static/js/timeago.js"></script>
  {% block back_btn_script %}
    <script>
      $('.left-back-btn').click( function () {
        var current = window.location.href.split('/');
        var referrer = document.referrer.split('/');
        if((current.slice(-2)[0]=="view_player")&&(referrer.slice(-1)[0]=="new_game"))
          window.close();
        else
          window.history.back();
      });
      $('.right-back-btn').click( function () {
        window.location.href = '/stat-tracker';
      });
    </script>
  {% endblock %}
  
  {% block scripts %}{% endblock %}
  
</html>
