{% extends "content-page.html" %}
{% block title %}Foosball Stat Tracker{% endblock %}

{% block content %}
  <div class="row title">
    Foosball<br>
    <em>Stat Tracker</em>
  </div>
  
  <div id="new_game" class="row menu-item">
    Enter new game
  </div>
  <div id="stats/index" class="row menu-item">
    View Stats
  </div>
{% endblock %}

{% block scripts %}
  <script>
    $('.menu-item').click( function () {
      var new_page = '/' + $(this).attr('id');
      console.log(new_page + ' clicked');
      window.location.href = new_page;
    });
  </script>
{% endblock %}
