{% extends "content-page.html" %}
{% block title %}New Game{%endblock %}

{% block content %}
  <div id="disabler" class="">
  </div>
        
  {% for player in playerlist %}
    <div class="row selector-container">
      <div class="selector select-left red">
      </div>
      <div class="selector select-right blue">
      </div>
      
      <div id={{ player.id }} class="select-name">
        {{ player.nickname }}
      </div>
      
    </div>
  {% endfor %}

  <br>


  <div class="row select-score">
    <div id="red-score" class="score score-left">
    0
    </div>
    <div id="blue-score" class="score score-right">
    0
    </div>
    <div style="position:relative; top:-10px; z-index:-1">
    :
    </div>

  </div>

  <div class="row" id="predict">
    <div id="predict-adj-red" class="predict-adj team-red"></div>
    <div id="predict-adj-blue" class="predict-adj team-blue"></div>
    <div id="predict-score">
      <div class="score score-left" id="predict-score-red"></div>
      <div class="score score-right" id="predict-score-blue"></div>
      <div style="position:relative; top: -4px; z-index:-1;text-align: center;">
          :
      </div>
    </div>
  </div>

  <div class="row submit">
    Submit
    <br>
  </div>
{% endblock %}

{% block scripts %}
  <script>

    var reds = new Array(); //list of red players
    var blues = new Array();
    
    var red_score = 0;
    var blue_score = 0;

    var predict_nonce = 0;

    function update_players() {
      reds = new Array();
      blues = new Array();
      $('.select-name').each( function(thing) {
        if ( $(this).hasClass( "red" ) )
          reds.push( Number($(this).attr('id')) );
        if ( $(this).hasClass( "blue" ) )
          blues.push( Number($(this).attr('id')) );
      });
      update_predictions();
    }

    var predictions = {};

    function update_predictions() {
      // we're liable to start several delays and then requests.
      // if we notice that the nonce has been increased then abort this req.
      predict_nonce += 1;
      var this_nonce = predict_nonce;

      predictions = {};
      show_predictions();

      if (reds.length == 0 || blues.length == 0) {
        return;
      }

      var payload = {"reds[]": reds,
                     "blues[]": blues};

      setTimeout(function() {
        if (predict_nonce != this_nonce)  return;

        $.post( "/predict", payload).done(function( data ) { 
          if (predict_nonce != this_nonce)  return;
          console.log(data);
          predictions = data;
          show_predictions();
        });
      });
    }

    function show_predictions() {
      var shown_something = false;

      var score = predictions.score;
      if (score !== undefined) {
        $("#predict-score-red") .text(Math.round(score[0] * 10) / 10);
        $("#predict-score-blue").text(Math.round(score[1] * 10) / 10);
        shown_something = true;
      }

      var updates = predictions.updates;
      var pred_red, pred_blue;
      if (updates !== undefined) {
        pred_red  = updates[10 + ":" + blue_score];  // if red won
        pred_blue = updates[red_score + ":" + 10];   // if blue won

        if(red_score == 10 || blue_score == 10){
            pred_red  = updates[red_score + ":" + blue_score];
            pred_blue = [-pred_red[0], -pred_red[1]];
        }
      } else {
        pred_red = pred_blue = undefined;
      }

      // if _ won, how would their score change
      if (pred_red !== undefined) {
        var adj_red  = Math.round(pred_red[0] * 1000);
        if (adj_red >= 0)   adj_red = "+" + adj_red;
        $("#predict-adj-red").text(adj_red);
        shown_something = true;
      } else {
        $("#predict-adj-red").text("");
      }

      if (pred_blue !== undefined) {
        var adj_blue = Math.round(pred_blue[0] * 1000);
        if (adj_blue >= 0)  adj_blue = "+" + adj_blue;
        $("#predict-adj-blue").text(adj_blue);
        shown_something = true;
      } else {
        $("#predict-adj-blue").text("");
      }

      if (shown_something)
        $("#predict").show();
      else
        $("#predict").hide();
    }

    show_predictions();


    $(".selector").click(function() {
      var item = $(this).siblings( '.select-name' );
      var clicked, current;
      
      if ( $(this).hasClass( "red" ))
        clicked = "red";
      else
        clicked = "blue";
        
      if ( item.hasClass( "red" ) )
        current = "red";
      else if( item.hasClass( "blue" ) )
        current = "blue";
      else
        current = "none";
      
      if(current == clicked){
        item.removeClass(current);
        update_players();
        return;
      }
      
      if (clicked=="red" && reds.length<4){
        item.addClass("red");
        item.removeClass('blue');
      }
      if (clicked=="blue" && blues.length<4){
        item.addClass("blue");
        item.removeClass('red');
      } 
      update_players();
    });
    
    $(".select-score .score").click(function() {
      var num = Number($(this).text().trim());
      num = num+1;
      if (num==11)
        num=0;
      $(this).text(num);
      red_score = Number($('#red-score').text());
      blue_score = Number($('#blue-score').text());
      show_predictions();
    });

    $('.submit').click( function() {
      console.log("submitting data");
      console.log("reds = ", reds);
      console.log("blues = ", blues);
      console.log("red_score = ", red_score);
      console.log("blue_score = ", blue_score);
      //verify valid game TODO
      
      $('#disabler').fadeIn(500);
      
      var payload = {"reds[]": reds,
                     "blues[]": blues,
                     "red_score": red_score,
                     "blue_score": blue_score};
      
      $(window).delay(1000).queue(function() {
        var posting = $.post( "/new_game", payload);
        
        posting.done(function( data ) { 
          $('#disabler').fadeOut(500);
          console.log(data);
          window.location.href = data.redirect
        });
        
        posting.error(function( data, status, error ) {
          console.log(error);
          if(error=="timeout"){
            alert("The server isn't responding.\n"
                   +"Check your internet connection and try again");
          }
          else{
            alert("Oops, something wasn't right:\n- " +
            data.responseJSON.reasons.join('\n- ')
            + "\n" );
            $('#disabler').delay(300).fadeOut(500);
          }
        });
      })

    });
    
    $('.select-name').click( function() {
      window.open('/view_player/' + this.id, '_blank');
    });
  </script>
{% endblock %}
