{% extends "content-page.html" %}

{% block title %}{{ player.nickname }}{% endblock %}

{% block content %}
<div class="row player player-header">
  <div class="player-name">
    {{ player.nickname }}
  </div>
  <div class="player-photo">
    <img src="/static/img/{{player.id}}.jpg" width="180px">
  </div>
</div>

<table class="table table-striped player-table">
  <tr>
    <th>Rank</th>
    <td>{{ player.rank }}</td>
  </tr>
  <tr>
    <th>Score</th>
    <td>{{ player.score }}</td>
  </tr>
  <tr>
    <th>Games played</th>
    <td>{{ player.games_total }}</td>
  </tr>
  <tr>
    <th>Games won</th>
    <td>{{ player.games_won }}</td>
  </tr>
  <tr>
    <th>Win percentage</th>
    <td>{{ player.win_percentage|round(1)}}%</td>
  </tr>
  <tr>
    <th>Goals scored</th>
    <td>{{ player.goals_scored}}</td>
  </tr>
  <tr>
    <th>Goals conceded</th>
    <td>{{ player.goals_conceded }}</td>
  </tr>
</table>

<div id="chart_div" class="score_chart"></div>
<br>
</div>
{% endblock %}

{% block scripts %}
  <script type='text/javascript' src='http://www.google.com/jsapi'></script>
  <script type='text/javascript' src='/static/js/date.js'></script>
  <script>
    var orig_score_history = {{ player.score_history|tojson }};
    var score_history = orig_score_history;
    var overlay = {{ player.score_overlay|tojson }};
    var overlay_scale = 0;
    
    google.load('visualization', '1.1', {'packages':['corechart']});
    google.setOnLoadCallback(drawChart);
    window.onresize = drawChart;

    function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('number', 'Game Number');
        data.addColumn('number', 'Score');
        data.addColumn({type: 'string', role: 'tooltip'});
        
        var score, date, tooltip;
        data.addRow([0, 1000, 'Initial\n1000']);
        for(i=0; i<score_history.length; i++){
          score = score_history[i]*1000 + 1000;
          tooltip = Math.round(score).toString();
          data.addRow([i+1, 
            score,
            tooltip])
        }

        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

        var w = $('#chart_div').width();

        var options = {
          legend: 'none',
          width: w,
          height: 0.7*w,
          chartArea: {'width': '100%', 'height': '80%', 'left': 0},
          vAxis: {'title': 'Score', 'textPosition': 'in'},
          hAxis: {'title': 'Game Number', 'format': '#'},

        };

        chart.draw(data, options);
      }

      setTimeout(add_overlay, 5000)
      function add_overlay() {
        overlay_scale += .0001;
        score_history = orig_score_history.slice(0);
        for (var i = 0; i < score_history.length; i++)
            score_history[i] += overlay[i] * overlay_scale;
        drawChart();
        setTimeout(add_overlay, 100);
      }
  </script>
{% endblock %}
