{% extends "content-page.html" %}

{% block title %}Game #{{ game.id }}{% endblock %}

{% block content %}
  <div class="row display-score">
    <div id="red-score" class="score score-left">
    {{ game.red_score }}
    </div>
    <div id="blue-score" class="score score-right">
    {{ game.blue_score }}
    </div>
    <div style="position:relative; top:-10px; z-index:-1">
    :
    </div>
  </div>

  <div class="row team">
    <div id="red-team" class="team-red">
      {% for player in game.reds %}
        <div class="player" id={{player.id}}>{{player.nickname}}</div>
      {%endfor%}
    </div>
    <div id="blue-team" class="team-blue">
      {% for player in game.blues %}
        <div class="player" id={{player.id}}>{{player.nickname}}</div>
      {%endfor%}
    </div>
  </div>
  
  <div class="row timeago" title="{{ game.timestamp }}">
  </div>
{% endblock %}

{% block scripts %}
  <script>
    $('.player').click( function() {
      window.location.href = '/view_player/' + this.id;
    });
    
    $('.timeago').timeago();
  </script>
{% endblock %}
